{% extends 'base.html' %}

{% block content %}
<div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ user_obj.username }}</h5>
            {% if user_obj.profile.about %}
                <p class="card-text">{{ user_obj.profile.about }}</p>
            {% endif %}
            {% if user_obj.profile.about %}
                <p class="card-text"><a href="#">{{ user_obj.profile.github }}</a><small class="text-muted"></small></p>
            {% endif %}
        </div>
    </div>
    <h2>Объявления пользователя {{ user_obj.username }}</h2>
    <div class="mt-5 mb-5">
        {% include 'partial/adds_list.html' %}
    </div>
{% endblock content %}