{% extends 'base.html' %}

{% block content %}
<div class="card mb-3">
        <div class="card-body text-center">
            <h5 class="card-title">{{ user_obj.username }} {{ user_obj.profile.phone }}</h5>
            <p><a href="{% url 'accounts:profile_update' user_obj.id %}" class="btn btn-secondary w-50">Изменить номер телефона</a></p>
        </div>
    </div>
    <h2>Объявления пользователя {{ user_obj.username }}</h2>
    <div class="mt-5 mb-5">
        {% include 'partial/adds_list.html' %}
    </div>
{% endblock content %}