{% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

    {% if adds %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        {% for ad in adds %}
            <div class="col">
                 <div class="card h-100">
                    <img src="{{ ad.image.url }}" class="card-img-top rounded-0" alt="...">
                    <div class="card-body px-2 pt-0">
                        <div class="tittle-card border-top text-center border-bottom border-dark border-4">
                            <h5 class="card-title my-3 bot-name">{{ ad.title }}</h5>
                        </div>
                        <p class="card-text text-style">Описание: <b>{{ ad.text }}</b></p>
                        <p class="card-text text-style">Статус: <b>{{ ad.get_status_display }}</b></p>
                        <p class="card-text text-style">Дата создания: <b>{{ ad.created_at }}</b></p>
                        <p class="card-text text-style">Дата публикации: <b>{{ ad.public_at }}</b></p>
                        <p>Создатель: <a href="{% url 'accounts:user' ad.author.id %}">{{ ad.author }}</a></p>
                    </div>
                    <div class="btn-group w-100" role="group" aria-label="Basic example">
                        <a href="{% url 'webapp:adds_detail' ad.id %}" class="btn btn-danger rounded-0 py-2 bot-buttons-style">Просмотр</a>
                        {% if perms.webapp.change_ad or user.profile == ad.author %}
                            <a href="{% url 'webapp:adds_update' ad.id %}" class="btn btn-primary rounded-0 py-2 bot-buttons-style">Редактировать</a>
                        {% endif %}
                        {% if perms.webapp.delete_ad or user.profile == ad.author %}
                            <a href="{% url 'webapp:adds_delete' ad.id %}" class="btn btn-primary rounded-0 py-2 bot-buttons-style">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <h2>Объявлений нет!</h2>
    {% endif %}