{% extends 'base.html' %}

{% block content %}
<h5 class="text-center fs-1 mt-5">{{ ad.title }}</h5>
<div class="card mb-3 mt-5">
    <div class="row g-0">
        <div class="col-md-8">
            <img src="{{ ad.image.url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <p class="card-text">{{ ad.text }}</p>
                <p class="card-text"><small class="text-muted">Цена: {{ ad.price }} сом</small></p>
                <p class="card-text">Дата публикации: {{ ad.public_at }}</p>
                <p class="card-text">Создал: {{ ad.author }}</p>
                <p class="card-text">Статус: {{ ad.get_status_display }}</p>
            </div>
            <div class="btn-group w-100" role="group" aria-label="Basic example">
                {% if perms.webapp.change_ad or user.profile == ad.author %}
                    <a href="{% url 'webapp:adds_update' ad.id %}" class="btn btn-warning rounded-0 py-2 bot-buttons-style"><i class="bi bi-pencil-fill"></i></a>
                {% endif %}
                {% if perms.webapp.delete_ad or user.profile == ad.author %}
                    <a href="{% url 'webapp:adds_delete' ad.id %}" class="btn btn-danger rounded-0 py-2 bot-buttons-style"><i class="bi bi-trash-fill"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}